matplotlib==3.7.1
numpy==1.24.2
pandas==1.5.3
pickleshare==0.7.5
scipy==1.10.1
seaborn==0.12.2
sklearn==0.0.post1
scikit-learn==1.2.2
xgboost==1.7.4
jupyter==1.0.0
jupyter-client==8.0.3
jupyter-console==6.6.2
jupyter-core==5.2.0
jupyter-events==0.6.3
jupyter-server==2.3.0
jupyter-server-terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
notebook==6.5.2
notebook-shim==0.2.2
